[submodule "third_party/generic/webkit"]
	path = third_party/generic/webkit
	url = git://github.com/tav/webkit.git
[submodule "third_party/generic/redis"]
	path = third_party/generic/redis
	url = git://github.com/tav/redis.git
